*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #C0C0C0;

}
header {
    background: #38B6FF;
    padding: 7px;
}
.logo {
    margin-left: 40px;
}

main {
    padding: 10px;
}

.post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
   
}


.post img {
    margin-right: 20px;
}
iframe{
   margin: 0 auto;
}