* {
    box-sizing: border-box;
}

body {
    font-family: 'Orpheus';
    font-weight: 700;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6e9ffc;
    color: white;
    padding: 20px;
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    padding-bottom: 3px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    transition-duration: 100ms;
}

nav ul li:hover a {
    /* text-decoration: underline; */
    border-bottom: 3px solid white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    background-image: url(https://cdn.oneesports.gg/cdn-data/2022/09/Anime_OnePiece_Season13_Voyage5_MangaCover2.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 5px black;
    text-align: center;
    padding: 180px;
    background-position: center;
}

.intro h1 {
    font-size: 150px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    /* Расстояние между буквами */
    /* letter-spacing: 2px; */
}

.intro p {
    font-size: 36px;
    padding: 10px;
}

.watch {
    border: 4px solid white;
    /* Прозрачный фон */
    background-color: transparent;
    padding: 15px 30px;
    /* width: 200px; */
    /* При наведении "Палец" */
    cursor: pointer;

}

.watch a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    /* Изменение капса */
    text-transform: uppercase;
    font-family: 'Orpheus';
    font-weight: 700;
    letter-spacing: 2px;
}

.watch:hover {
    background-color: #fff;
    transition-duration: 200ms;
}

.watch:hover a {
    color: black;
    transition-duration: 200ms;
}




.persons h2,.plods h2, .animals h2, .episodes h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    letter-spacing: 2px;
}

.persons-container, .plods-container, .animals-container, .episodes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 36px;
}

.person-item, .plod-item, .animal-item, .episode-item {
    max-width: 400px;
    margin: 20px;
    background-color: #f9f9f9;
    padding: 10px;
}

.person-item img, .plod-item img, .animal-item img{
    width: 100%;
    margin-bottom: 10px;
    /* height: auto; */
    height: 390px;
}
.person-item h3, .plod-item h3, .animal-item h3, .episode-item h3{
    margin: 0;
    letter-spacing: 2px;
}
.person-item p, .plod-item p, .animal-item p, .episode-item p{
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
}


.episode-item img {
    width: 100%;
    margin-bottom: 10px;
    /* height: auto; */
    height: 500px;
}
footer{
    background-color: #6e9ffc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}







@font-face {
    font-family: 'Orpheus';
    src: url(font/Orpheus.ttf);
}